<!DOCTYPE html>
<html ng-app="myApp" lang="en" xmlns:gb="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bilder</title>
</head>
<body>
<div class="page-header">

    <h1 class="text-center">
        Spielevorstellungen
    </h1>

</div>


<div class="text-center">
    <a href="#!/createthread" class="btn btn-info center block" role="button">Create a Thread</a>
</div>

<br/><br/>

<div class="list-group">
    <div class="container " ng-controller="ThreadCtrl">
        <div class="row well">
            <div ng-click="editItem(game);" gb:Game="{{game}}" ng-repeat="game in games"></div>
        </div>
    </div>
</div>


</body>
</html>