<!DOCTYPE html>
<html ng-app="myApp" lang="en" xmlns:gb="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Bilder</title>
</head>
<body>
<div class="page-header">
    <div class="text-center">
        <h1>
            Erstelle eine Spielevorstellung
        </h1>
    </div>
</div>

<div class="jumbotron" ng-controller="UpdateThreadCtrl">
    <div class="container">
        <div class="col-md-5">
            <div class="row">
              <h2>Eingabe</h2>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="name">Name des Spiels:</label>
                    <input ng-model="name" type="name" class="form-control" id="name">
                </div>

            </div>
            <div class="row">
                <div class="form-group">
                    <label for="imgurl">BildURL:</label>
                    <input ng-model="image" type="link" class="form-control" id="imgurl">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <label for="name">Beschreibung des Spiels:</label>
                    <textarea ng-model="textareaid" class="form-control" rows="10"></textarea>
                </div>
            </div>

        </div>
        <div class="col-md-2">

        </div>
        <div class="col-md-5"><div class="row">
            <h2>Preview</h2>
        </div>
            <div class="row">
                <div class="form-group">
                    <h3>{{name}}</h3>
                </div>

            </div>
            <div class="row">
                <div class="form-group">
                    <img src="{{image}}" width="444" height="250">
                </div>
            </div>
            <div class="row">
                <div class="form-group">
                    <div>
                    {{textareaid}}
                </div>
                </div>
            </div>

        </div>
    </div>
</div>

</body>
</html>